$color-primary-70: #820805;
$color-primary-80: #6b0b15;
$color-primary-600: #9d281a;
$color-primary-500: #c5685d;

$color-gray-50: #f9fafb;
$color-gray-100: #f2f4f7;
$color-gray-300: #d0d5dd;
$color-gray-500: #667085;
$color-gray-900: #101828;

$color-text-primary: #000d1a;

$color-white: white;
